<form (submit)="addUser(newUser)">
  <input type="text" #newUser>
  <button>send user</button>
</form>

<ol type="1">
  <li *ngFor=" let user of users">
    {{user}}
    <button (click)="saludo()">hola</button>
    <button (click)="deleteUser(user)">X</button>
  </li>
</ol>
<button (click)="deleteAllUser()">borrar todos</button>
<button (click)="originList()">Lista original</button>

<div class="">
  <form action="">
    <input type="text" name="name" [(ngModel)]="name">
    <input type="text" name="age" [(ngModel)]="age">
  </form>
  <p>Nombre:{{name}}</p>
  <p>Edad:{{age}}</p>
</div>